$bg-primary:#AA0601;
$bg-secondary: #FBF2F2;
$bg-coffe:  #5f3e2d;
$bg-brown: #b75929;
$bg-dark:#000000;
$text-white:#ffffff;
$text-dark:#000000;
$text-translate: #00000020 ;
$text-gray: #212529;
$text-gray-2: #495057; 
$text-white-2: #ced4da; 
$text-gray-secondary:  #707070;
$text-gray-3: #DCDCDC;
$text-secondary:#9F1213;
$text-primary:#650300;
$text-third:#AA0601;
$btn-gray:#555555;
$link-orange:#FFAF60;
//Font size
$fs-base: 1rem;
$fs-1: $fs-base*0.875;
//Line height
$lh-base: 1;

