<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header container">
    <div class="header-nav df-between">
      <a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png"
          alt="logo"></a>
      <ul>
        <li><a href="#">系列鏡框</li>
        <li><a href="#">門市據點</li>
        <li><a href="#">部落格</li>
        <li><a href="#">常見問題</li>
      </ul>
    </div>
    <div class="header-subnav">
      <ul>
        <li><a href="#">最新消息</li>
        <li><a href="#">特別企劃</li>
        <li><a href="#">新品上市</li>
        <li><a href="#">鏡框小知識</li>
      </ul>
      </link>
      <a href=""><img src="" alt=""></a>
    </div>

  </header>

  <%- contents %>

    <footer class="footer">
      footer
    </footer>
</body>

</html>