<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header-nav d-flex">
    <h1><a href="#"></a></h1>
    <ul class="navlist">
      <li><a href="#">系列鏡框</li>
      <li><a href="#">門市據點</li>
      <li><a href="#">部落格</li>
      <li><a href="#">常見問題</li>
    </ul>
  </header>

  <%- contents %>

    <footer class="footer">
      footer
    </footer>
</body>

</html>