<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header container">
    <div class="header-nav">
      <a href=""><img src="" alt=""></a>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="header-subnav">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      </link>
      <a href=""><img src="" alt=""></a>
    </div>

  </header>

  <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>