.header-nav{ 
    justify-content: space-between;
    align-items: center;
    background-color: $bg-primary; 
    padding: 20px 45px;
    @include phone(){
        flex-direction: column;
        padding: 0;
    }
  .header-logo a{
    width: 80px;
    height: 49px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    @include phone(){
        margin: 10px 0;
    }
  }
  .navlist{
    align-items: center;
    flex-wrap: wrap;
    @include phone(){
        justify-content: center;
        width: 100%;
    }
    .nav-item{
      a{
        padding: 30px 0;
        margin-left: 64px;
        font-size: 20px;
        color: $text-white;
        @include pad(){
            margin-left: 40px;
        }
        @include phone(){
            padding: 8px 0px;
            margin-left: 0;
        }
        &:hover{
          color:$link-orange;
        }
      }
      @include phone(){
        width: 50%;
        text-align: center;
        border: 1px solid $text-white;
      } 
    }
  }
}