$bg-primary:#AA0601;
$bg-secondary:#650300;


$text-white:#ffffff;
$text-dark:#000000;

//Font size
$fs-base: 1rem;
$fs-1: $fz-base*0.875;


//Line height
$lh-base: 1;
$lh-1: 1;
$lh-sm: flex;


