@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* 全局設定 */
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif; }

/*知識庫、斷點*/
/*容器屬性*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 375px; } }

/*工具類-通用類別樣式*/
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.text-weight {
  font-weight: bold; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-8 {
  margin-bottom: 64px; }

.mr-1 {
  margin-right: 8px; }

.ml-4 {
  margin-left: 32px; }

.pt-8 {
  padding-top: 64px; }

.header-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AA0601;
  padding: 20px 45px; }
  @media (max-width: 767px) {
    .header-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  .header-nav .header-logo a {
    width: 80px;
    height: 49px;
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/logo.png");
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    display: block; }
    @media (max-width: 767px) {
      .header-nav .header-logo a {
        margin: 10px 0; } }
  .header-nav .navlist {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 767px) {
      .header-nav .navlist {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%; } }
    .header-nav .navlist .nav-item a {
      padding: 30px 0;
      margin-left: 64px;
      font-size: 20px;
      color: #ffffff; }
      @media (max-width: 992px) {
        .header-nav .navlist .nav-item a {
          margin-left: 40px; } }
      @media (max-width: 767px) {
        .header-nav .navlist .nav-item a {
          padding: 8px 0px;
          margin-left: 0; } }
      .header-nav .navlist .nav-item a:hover {
        color: #FFAF60; }
    @media (max-width: 767px) {
      .header-nav .navlist .nav-item {
        width: 50%;
        text-align: center;
        border: 1px solid #ffffff; } }

.main .banner {
  height: 840px;
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png) center center;
  background-size: cover;
  color: #650300;
  font-weight: bold; }
  .main .banner-slogan {
    min-height: calc(100vh - 109px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main .banner-p {
    font-size: 36px;
    line-height: 54px; }
  .main .banner-title {
    font-size: 64px;
    line-height: 96px; }

.main .subbanner {
  color: #650300;
  background-color: #FBF2F2;
  padding: 60px 0 80px 0; }
  .main .subbanner-title {
    margin-bottom: 48px;
    text-align: center;
    font-weight: bold;
    font-size: 48px; }
  .main .subbanner-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .subbanner-info-item {
      width: 23%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main .subbanner-info-item img {
        width: 100px;
        height: 100px;
        margin-bottom: 24px; }
      .main .subbanner-info-item h4 {
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 24px; }
      .main .subbanner-info-item p {
        width: 98%;
        font-size: 16px;
        text-align: left;
        color: #000000; }

.main .classic {
  padding: 60px 0 80px 0; }
  .main .classic-title {
    color: #650300;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    line-height: 67px; }
  .main .classic-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .classic-info li {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main .classic-info li:nth-child(2) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
    .main .classic-info img {
      display: block;
      max-width: 60%;
      height: auto; }
  .main .classic-item {
    margin-left: 30px; }
    .main .classic-item .icon {
      width: 48px; }
  .main .classic-item-even {
    margin-right: 30px; }
  .main .classic-subtitle {
    font-weight: bold;
    font-style: italic;
    font-size: 48px;
    color: #AA0601; }

.main .joint {
  padding: 60px 0 80px 0;
  text-align: center;
  background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png);
  background-size: cover;
  background-position: center; }
  .main .joint-subtitle {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px; }
  .main .joint-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .joint-info-item {
      width: 49%;
      position: relative; }
      .main .joint-info-item::before {
        content: "";
        background: rgba(255, 255, 255, 0.283);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1; }
      .main .joint-info-item img {
        display: block;
        max-width: 100%;
        height: auto; }
  .main .joint-info-subtitle {
    font-weight: bold;
    font-size: 72px;
    color: #AA0601;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2; }

.main .customer {
  padding: 60px 0 80px 0; }
  .main .customer-subtitle {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: #650300; }
  .main .customer-info {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .main .customer-info > li {
      width: 24%;
      border-radius: 4px;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029; }
    .main .customer-info img {
      margin-bottom: 16px;
      display: block;
      max-width: 100%;
      height: auto; }
  .main .customer-info-item li {
    width: 87%;
    margin: 0 auto;
    color: #212529; }
    .main .customer-info-item li div {
      height: 160px; }
  .main .customer-name {
    font-weight: 500;
    font-size: 14px; }
  .main .customer-recommend {
    font-size: 16px; }
  .main .customer-date {
    font-size: 14px;
    color: #707070; }

.main .contact {
  padding: 60px 0 80px 0;
  background-color: #FBF2F2; }
  .main .contact-form {
    width: 65%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main .contact-form p {
      margin-bottom: 20px;
      font-size: 20px; }
  .main .contact-subtitle {
    margin-bottom: 24px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 48px; }
  .main .contact-form-group label {
    font-size: 16px; }
  .main .contact-form-group input {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000000;
    padding: 14px 16px; }
  .main .contact-form-group textarea {
    width: 100%;
    background-color: #FBF2F2;
    border: 1px solid #000000;
    padding: 0 16px; }
  .main .contact-form-group-check label {
    font-size: 16px; }
  .main .contact-button {
    width: 50%;
    padding: 16px 0;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #AA0601;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    border: none;
    cursor: pointer; }
    .main .contact-button:hover {
      background-color: #650300; }

.product__tab__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product__tab__list .active {
    border-bottom: 8px solid #AA0601; }
  .product__tab__list li {
    width: 100%;
    border: 1px solid #DCDCDC; }
    .product__tab__list li img {
      width: 44px;
      height: 44px;
      margin-right: 10px;
      max-width: 100%;
      display: block; }
  .product__tab__list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 500;
    color: #000000;
    padding-top: 27px;
    padding-bottom: 19px; }

.product__main img {
  display: block;
  max-width: 100%;
  height: auto; }

.product__inner {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 160px; }
  .product__inner h2 {
    font-size: 42px;
    line-height: 1.5; }
  .product__inner h3 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 40px; }
  .product__inner .product__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .product__inner .product__list .tab01, .product__inner .product__list .tab02 {
      width: 24%;
      margin-bottom: 96px; }
      .product__inner .product__list .tab01:nth-last-child(n + 5), .product__inner .product__list .tab02:nth-last-child(n + 5) {
        margin-bottom: 104px; }
      .product__inner .product__list .tab01 img, .product__inner .product__list .tab02 img {
        display: block;
        max-width: 100%;
        height: 164px; }
      .product__inner .product__list .tab01 .product__card__title, .product__inner .product__list .tab02 .product__card__title {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 24px;
        line-height: 1.5; }
        .product__inner .product__list .tab01 .product__card__title p, .product__inner .product__list .tab02 .product__card__title p {
          color: #AA0601; }
      .product__inner .product__list .tab01 .product__card__text a, .product__inner .product__list .tab02 .product__card__text a {
        display: block;
        opacity: 0; }
      .product__inner .product__list .tab01 .product__card__text .square-odd, .product__inner .product__list .tab02 .product__card__text .square-odd {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #5f3e2d; }
      .product__inner .product__list .tab01 .product__card__text .square-even, .product__inner .product__list .tab02 .product__card__text .square-even {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #b75929;
        margin-left: 8px; }
    .product__inner .product__list .product__card__list.tab02 {
      width: 32.3333%; }
      .product__inner .product__list .product__card__list.tab02 img {
        display: block;
        max-width: 100%;
        height: 224px; }
  .product__inner .btn__page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product__inner .btn__page li {
      border: 1px solid #555555;
      background: #FBF2F2; }
      .product__inner .btn__page li a {
        font-size: 18px;
        line-height: 27px;
        text-decoration: none;
        display: block;
        padding: 11px 12px;
        color: #555555; }

.footer {
  padding: 32px 0 39px 0;
  background-color: #AA0601;
  color: #ffffff; }
  @media (max-width: 992px) {
    .footer {
      padding: 32px 0; } }
  @media (max-width: 767px) {
    .footer {
      padding: 24px 0; } }
  .footer-info {
    padding-bottom: 24px;
    margin-bottom: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #ffffff; }
    @media (max-width: 992px) {
      .footer-info {
        padding-bottom: 20px;
        margin-bottom: 24px; } }
    @media (max-width: 992px) {
      .footer-info {
        padding-bottom: 24px;
        margin-bottom: 16px; } }
  .footer-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-nav-list {
      margin-bottom: 36px;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      @media (max-width: 992px) {
        .footer-nav-list {
          margin-bottom: 18px; } }
      @media (max-width: 767px) {
        .footer-nav-list {
          display: none; } }
      .footer-nav-list a {
        margin-right: 48px;
        font-size: 16px;
        color: #ffffff; }
        @media (max-width: 992px) {
          .footer-nav-list a {
            margin-right: 40px; } }
        .footer-nav-list a:hover {
          color: #FFAF60; }
  .footer img, .footer a {
    display: inline-block;
    vertical-align: middle; }
  @media (max-width: 992px) {
    .footer-contact img {
      width: 18px; } }
  @media (max-width: 992px) {
    .footer-contact {
      margin-bottom: 12px; } }
  .footer-contact a {
    margin-left: 16px;
    font-size: 36px;
    color: #ffffff; }
    .footer-contact a:hover {
      color: #FFAF60; }
    @media (max-width: 992px) {
      .footer-contact a {
        margin-left: 8px;
        font-size: 20px; } }
    @media (max-width: 767px) {
      .footer-contact a {
        margin-left: 4px;
        font-size: 16px; } }
  .footer-social img:hover {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25); }
  @media (max-width: 992px) {
    .footer-social img {
      width: 24px; } }
  @media (max-width: 992px) {
    .footer-social {
      margin-left: 24px; } }
  .footer-copyright {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .footer-copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 767px) {
      .footer-copyright p {
        margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .footer-copyright .terms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer-copyright .terms a {
      margin-left: 48px;
      color: #ffffff; }
      .footer-copyright .terms a:hover {
        color: #FFAF60; }
      @media (max-width: 992px) {
        .footer-copyright .terms a {
          margin-left: 24px; } }
      @media (max-width: 767px) {
        .footer-copyright .terms a {
          margin: 0 0 8px 0; } }

/*# sourceMappingURL=all.css.map */
